body {
    background-color: rgb(128, 53, 26);
}

.axis {
    background-color: white;
    display: flex;
    height: 3%
}

.axis_block {
    font-size: 5vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 12.5%;
}


.statistics {
    background-color: gray;
    height: 0%
}

.voting {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 96%;
    padding: 1%;
}

.vote_button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    font-size: xx-large;
}

.opinion_cube {
    /*background-color: chocolate; */
    height: 10%;
    width: 100%;
}

.afera_pawn {
    height: 50%;
    width: 10%;
    border-radius: 50%;
}

.klocki_space {
    display:flex;
    background-color: lightgray;
    height: 19%;
    justify-content: space-around;
}

.klocki_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.layout {
    display: none;
}

.podpis {
    font-size: 5vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3%;
    box-shadow: inset 0 0 0 0.5vw black;
    background-color: white;
}

.dimmed {
    opacity: 0.3; /* Adjust the opacity to dim the button */
}

@media screen and (orientation: portrait) {
    #marszalek_layout {
        display:block;
    }
}

@media screen and (orientation: landscape) {
    .show-results #results_layout,
    .show-prezes #prezes_layout {
        display: block; /* Only display if the parent (or body) has the right class */
    }
}

.tab {
    height: 95%;
    display: none;
}

#tab_bar {
    display:flex;
    height: 5%;
    flex-direction: row;
    justify-content:space-evenly;
}

.tab_button {
    width: 25%;
    height: 100%;
    background-color: gray;
    box-shadow: inset 0 0 0 1vw rgb(80, 80, 80);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    /*filter: grayscale(100%); /* Makes emojis and other content monochrome */
}

#afera_space {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.afera_row {
    height: 20%;
    width: 100%;
    flex: 1;
    /*box-shadow: inset 0 0 0 1vw; */
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.afera_row_label {
    width: 20%;
    box-shadow: inset 0 0 0 1vw gray;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10em;
}

.afera_row_space {
    width: 80%;
    box-shadow: inset 0 0 0 1vw gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#koryto {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.koryto_row {
    display: flex;
    height: 2%;
    width: 100%;
    justify-content: space-between;
}
.circle {
    /* background-color: purple; */
    height: 100%;
    width: 5%;
    border-radius: 50%;
}

#actions_space {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    display: flex;
}

.actions_column {
    width: 50%;

}

.card {
    margin: 2% 2% 2% 2%;
    width: 100%;
    height: 30%;
    background-color: gray;
    text-align: center;
}

.gui_row {
    display: flex;
    height: 33%;
    justify-content: space-between;
}

.gui_player {
    width: 33%;

}


.card_main {
    height:90%;
    width:100%;
}

.card_label {
    height: 10%;
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}
#dyscyplina {
    background-image: url("assets/dyscyplina2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#dyscyplina1 {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}

#dyscyplina2 {
    background-color: blue;
    box-shadow: inset 0 0 5vw darkblue
}

#dyscyplina3 {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#dyscyplina4 {
    background-color: yellow;
    box-shadow: inset 0 0 5vw olive
}

#dyscyplina5 {
    background-color: darkgrey;
    box-shadow: inset 0 0 5vw dimgrey;
}

#dyscyplina6 {
    background-color: orange;
    box-shadow: inset 0 0 5vw saddlebrown
}

#dyscyplina7 {
    background-color: pink;
    box-shadow: inset 0 0 5vw hotpink
}

#dyscyplina8 {
    background-color: purple;
    box-shadow: inset 0 0 5vw indigo
}

#negocjacje {
    background-image: url("assets/negocjacje2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#negocjacje1 {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}

#negocjacje2 {
    background-color: blue;
    box-shadow: inset 0 0 5vw darkblue
}

#negocjacje3 {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#negocjacje4 {
    background-color: yellow;
    box-shadow: inset 0 0 5vw olive
}

#negocjacje5 {
    background-color: darkgrey;
    box-shadow: inset 0 0 5vw dimgrey;
}

#negocjacje6 {
    background-color: orange;
    box-shadow: inset 0 0 5vw saddlebrown
}

#negocjacje7 {
    background-color: pink;
    box-shadow: inset 0 0 5vw hotpink
}

#negocjacje8 {
    background-color: purple;
    box-shadow: inset 0 0 5vw indigo
}

#przekupstwo {
    background-image: url("assets/przekupstwo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card_gui {
    display: none;
}

.przekupstwo_row {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#przekupstwo_arrow {
    font-size: 80;
    text-align: center;
}
.przekupstwo_from {
    width: 12.5%;
    height: 100%;
}

#przekupstwo_from_1 {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}

#przekupstwo_from_2 {
    background-color: blue;
    box-shadow: inset 0 0 5vw darkblue
}

#przekupstwo_from_3 {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#przekupstwo_from_4 {
    background-color: yellow;
    box-shadow: inset 0 0 5vw olive
}

#przekupstwo_from_5 {
    background-color: darkgrey;
    box-shadow: inset 0 0 5vw dimgrey;
}

#przekupstwo_from_6 {
    background-color: orange;
    box-shadow: inset 0 0 5vw saddlebrown
}

#przekupstwo_from_7 {
    background-color: pink;
    box-shadow: inset 0 0 5vw hotpink
}

#przekupstwo_from_8 {
    background-color: purple;
    box-shadow: inset 0 0 5vw indigo
}

.przekupstwo_to {
    width: 12.5%;
    height: 100%;
}

#przekupstwo_to_1 {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}

#przekupstwo_to_2 {
    background-color: blue;
    box-shadow: inset 0 0 5vw darkblue
}

#przekupstwo_to_3 {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#przekupstwo_to_4 {
    background-color: yellow;
    box-shadow: inset 0 0 5vw olive
}

#przekupstwo_to_5 {
    background-color: darkgrey;
    box-shadow: inset 0 0 5vw dimgrey;
}

#przekupstwo_to_6 {
    background-color: orange;
    box-shadow: inset 0 0 5vw saddlebrown
}

#przekupstwo_to_7 {
    background-color: pink;
    box-shadow: inset 0 0 5vw hotpink
}

#przekupstwo_to_8 {
    background-color: purple;
    box-shadow: inset 0 0 5vw indigo
}

#przemowa {
    background-image: url("assets/przemowa2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#przemowa_column_holder {
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.przemowa_column {
    width: 33%;
    height: 100%;
}

#przemowa_za {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#przemowa_przeciw {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}


#wydalenie {
    background-image: url("assets/wydalenie2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wydalenie1 {
    background-color: red;
    box-shadow: inset 0 0 5vw darkred
}

#wydalenie2 {
    background-color: blue;
    box-shadow: inset 0 0 5vw darkblue
}

#wydalenie3 {
    background-color: green;
    box-shadow: inset 0 0 5vw darkgreen
}

#wydalenie4 {
    background-color: yellow;
    box-shadow: inset 0 0 5vw olive
}

#wydalenie5 {
    background-color: darkgrey;
    box-shadow: inset 0 0 5vw dimgrey;
}

#wydalenie6 {
    background-color: orange;
    box-shadow: inset 0 0 5vw saddlebrown
}

#wydalenie7 {
    background-color: pink;
    box-shadow: inset 0 0 5vw hotpink
}

#wydalenie8 {
    background-color: purple;
    box-shadow: inset 0 0 5vw indigo
}

#results_layout {
    background-color: white;
    height: 100%
}

.stat_item {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Puts maximum space between children */
    align-items: center; /* Vertically aligns items in the middle */
    margin-bottom: 10px; /* Adds some space between the items */
  }
  
  .label, .value {
    flex: 1; /* Allows both label and value to grow */
    font-size: 3.6vw;
    font-weight: 900;
  }
  
  .value {
    text-align: right; /* Aligns the numbers to the right */
  }


#za {
    background-color: green;
    box-shadow: inset 0 0 0 2vw #245718;
}

#przeciw {
    background: red;
    box-shadow: inset 0 0 0 2vw #752121;
}

#wstrzymaj {
    background-color: yellow;
    box-shadow: inset 0 0 0 2vw #575118;
}

